@media only screen and (max-width: 1024px) {
    .container {
        min-height: 789px;
        max-width: 375px;    
        flex-direction: column;
        align-items: center;
        margin-top: 0px!important;
    }

    .right {
        max-width: fit-content;
        max-height: 270px;
    }

    .left {
        max-width: 100%;
        height: auto!important;

    }

    .amountContainer {
        max-height: 200px;
    }

    .rightContainer {
        padding: 30px!important;
    }
}


.container {
    height: 481px;
    width: 920px;
    margin: auto;
    margin-top: 200px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left {
    height: 417px;
    width: 413px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.right {
    height: 417px;
    width: 413px;
    border-radius: 15px;
    background-color: #00474B;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 81%;
}

.amountContainer {
    width: 100%;
    display: flex;
    height: 150px;
    justify-content: space-between;
    flex-direction: column;
}